In [1]:
import pandas as pd

# Read Qualitative Data

In [2]:
df = pd.read_csv('cleaned_data/airbnb.csv')
df.head()

,neighborhood_id,accessible,airport,amazing,american,anywhere,architecture,art,artists,authentic,...,waterfront,well,wine,wonderful,world,young,zoo,neighborhood,num_listings,price_norm
0,1,0.035714,0.017857,0.017857,0.000000,0.017857,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.232143,0.000000,0.000000,0.035714,0.000000,0.428571,Allerton,77,31.006370
1,2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,Arden Heights,5,28.170000
2,3,0.008475,0.042373,0.110169,0.037288,0.008475,0.003390,0.020339,0.011864,0.032203,...,0.013559,0.147458,0.018644,0.057627,0.100000,0.076271,0.003390,Astoria,919,59.324403
3,4,0.052632,0.052632,0.052632,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.052632,0.000000,0.000000,Bath Beach,27,40.018519
4,5,0.003311,0.029801,0.024834,0.048013,0.006623,0.019868,0.001656,0.000000,0.026490,...,0.026490,0.092715,0.009934,0.008278,0.240066,0.004967,0.000000,Financial District,832,84.430094

In [4]:
df.shape

(145, 218)

# Read Quantitative Data

In [5]:
df2 = pd.read_csv('cleaned_data/quant_features.csv')
df2.head()

,Unique Identifier,AdultCareFacilities,Clinics,CommunityHealthCenters,DiagnosticTreatmentCenters,Hospitals,NursingHomes,SchoolBasedHealthFacilities,Daycares,TotalPop,...,DrugHospPopPercent,PsychHospPopPercent,StrokeHospPopPercent,HIVPopPercent,HepBPopPercent,HepCPopPercent,TBPopPercent,GonorrheaPopPercent,SyphilisPopPercent,PrematureMortalityPopPercent
0,1,2,1,0,4,0,7,0,95,69435,...,1.063443,0.676279,0.349523,0.028723,0.06609,0.106615,0.005771,0.184327,0.034544,0.181910
1,2,0,0,0,0,0,0,0,8,25602,...,0.519000,0.522500,0.287600,0.000000,0.01240,0.042500,0.003900,0.000000,0.000000,0.140000
2,3,0,3,0,4,1,1,1,86,106244,...,0.402325,0.462069,0.282341,0.041906,0.04860,0.071517,0.008766,0.185412,0.054593,0.134602
3,4,0,1,0,1,0,1,0,23,32002,...,0.296500,0.314500,0.261000,0.000000,0.19090,0.087900,0.014600,0.021900,0.000000,0.126400
4,5,0,0,0,2,1,0,0,39,42485,...,0.381600,0.330400,0.272800,0.028700,0.05840,0.062700,0.003900,0.162400,0.044700,0.079200

In [6]:
df2.shape

(146, 55)

# Merge Datasets on Unique Identifier

In [7]:
merged = pd.merge(df,df2,left_on='neighborhood_id', right_on = 'Unique Identifier')
merged.head()

,neighborhood_id,accessible,airport,amazing,american,anywhere,architecture,art,artists,authentic,...,DrugHospPopPercent,PsychHospPopPercent,StrokeHospPopPercent,HIVPopPercent,HepBPopPercent,HepCPopPercent,TBPopPercent,GonorrheaPopPercent,SyphilisPopPercent,PrematureMortalityPopPercent
0,1,0.035714,0.017857,0.017857,0.000000,0.017857,0.000000,0.000000,0.000000,0.000000,...,1.063443,0.676279,0.349523,0.028723,0.06609,0.106615,0.005771,0.184327,0.034544,0.181910
1,2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.519000,0.522500,0.287600,0.000000,0.01240,0.042500,0.003900,0.000000,0.000000,0.140000
2,3,0.008475,0.042373,0.110169,0.037288,0.008475,0.003390,0.020339,0.011864,0.032203,...,0.402325,0.462069,0.282341,0.041906,0.04860,0.071517,0.008766,0.185412,0.054593,0.134602
3,4,0.052632,0.052632,0.052632,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.296500,0.314500,0.261000,0.000000,0.19090,0.087900,0.014600,0.021900,0.000000,0.126400
4,5,0.003311,0.029801,0.024834,0.048013,0.006623,0.019868,0.001656,0.000000,0.026490,...,0.381600,0.330400,0.272800,0.028700,0.05840,0.062700,0.003900,0.162400,0.044700,0.079200

In [8]:
merged.shape

(144, 273)

# Drop Duplicate Column and Split Qualitative/Quantitative Features

In [9]:
print(merged.columns.tolist())

['neighborhood_id', 'accessible', 'airport', 'amazing', 'american', 'anywhere', 'architecture', 'art', 'artists', 'authentic', 'available', 'awesome', 'bakery', 'banks', 'bar', 'barclays', 'bars', 'beautiful', 'beer', 'big', 'bike', 'botanical', 'boutiques', 'bridge', 'brownstones', 'brunch', 'buildings', 'bus', 'buses', 'bustling', 'cafe', 'cafes', 'called', 'caribbean', 'charming', 'chinese', 'circle', 'class', 'clubs', 'coffee', 'columbus', 'come', 'community', 'convenience', 'convenient', 'conveniently', 'cool', 'corner', 'couple', 'cuisine', 'cultural', 'culture', 'cute', 'deli', 'delicious', 'delis', 'different', 'dining', 'diverse', 'diversity', 'door', 'drink', 'easily', 'eat', 'eateries', 'enjoy', 'entertainment', 'every', 'experience', 'explore', 'express', 'families', 'family', 'famous', 'fantastic', 'fast', 'favorite', 'filled', 'five', 'food', 'free', 'friendly', 'front', 'fun', 'galleries', 'garden', 'good', 'green', 'groceries', 'grocery', 'guests', 'hall', 'happy', 'heart', 'hip', 'historic', 'historical', 'history', 'home', 'hotel', 'house', 'iconic', 'include', 'indian', 'italian', 'jazz', 'known', 'large', 'late', 'laundromat', 'laundry', 'library', 'life', 'lines', 'live', 'lively', 'living', 'local', 'looking', 'love', 'lovely', 'mall', 'market', 'markets', 'metropolitan', 'mexican', 'mile', 'mix', 'movie', 'museum', 'museums', 'music', 'name', 'natural', 'neighbors', 'nice', 'night', 'nightlife', 'old', 'open', 'options', 'organic', 'outdoor', 'outside', 'parking', 'parks', 'peaceful', 'people', 'perfect', 'pharmacy', 'pizza', 'places', 'plaza', 'popular', 'professionals', 'proximity', 'quick', 'quiet', 'real', 'residential', 'residents', 'restaurant', 'restaurants', 'ride', 'river', 'riverside', 'safe', 'scene', 'shop', 'shopping', 'shops', 'short', 'small', 'space', 'spots', 'station', 'stay', 'steps', 'stops', 'store', 'stores', 'stroll', 'subway', 'summer', 'super', 'supermarket', 'supermarkets', 'thai', 'theaters', 'theatre', 'three', 'time', 'train', 'trains', 'transportation', 'tree', 'trendy', 'unique', 'us', 'variety', 'venues', 'vibe', 'vibrant', 'view', 'views', 'vintage', 'visit', 'walking', 'waterfront', 'well', 'wine', 'wonderful', 'world', 'young', 'zoo', 'neighborhood', 'num_listings', 'price_norm', 'Unique Identifier', 'AdultCareFacilities', 'Clinics', 'CommunityHealthCenters', 'DiagnosticTreatmentCenters', 'Hospitals', 'NursingHomes', 'SchoolBasedHealthFacilities', 'Daycares', 'TotalPop', 'shape_area', 'rating_b', 'FemalePopPercent', 'PopU18PopPercent', 'Pop18t24PopPercent', 'Pop25t44PopPercent', 'Pop45t64PopPercent', 'Pop65plPopPercent', 'HispanicPopPercent', 'WhiteNonHispPopPercent', 'BlackNonHispPopPercent', 'AsianPIPopPercent', 'OtherRacePopPercent', 'ForeignBornPopPercent', 'LimitedEngPopPercent', 'EduLessThanHSPopPercent', 'PovertyPopPercent', 'FoodStampSNAPPopPercent', 'UnemploymentPopPercent', 'DisabilityPopPercent', 'DisabilityVisionPopPercent', 'DisabilityCognitivePopPercent', 'DisabilityAmbulatoryPopPercent', 'DisabilitySelfCarePopPercent', 'DisabilityIndepLivPopPercent', 'HealthInsPopPercent', 'MedicaidEnrollPopPercent', 'AlcoholRetailersPopPercent', 'TobaccoRetailersPopPercent', 'FelonyCrimePopPercent', 'PropertyCrimePopPercent', 'ViolentCrimePopPercent', 'JailIncarcerationPopPercent', 'AssaultHospPopPercent', 'AlcoholHospPopPercent', 'DrugHospPopPercent', 'PsychHospPopPercent', 'StrokeHospPopPercent', 'HIVPopPercent', 'HepBPopPercent', 'HepCPopPercent', 'TBPopPercent', 'GonorrheaPopPercent', 'SyphilisPopPercent', 'PrematureMortalityPopPercent']

In [10]:
merged.drop('Unique Identifier',axis=1,inplace=True)
merged.shape

(144, 272)

In [11]:
# move example neighborhood to beginning (with neighborhood_id)
col = merged.pop("neighborhood")
merged.insert(1, col.name, col)

In [14]:
merged.columns[215]

'zoo'

In [15]:
merged.columns[216]

'num_listings'

- merged
- merged[2:215] are qualitative features
- merged[216:] are quantitative features
- merged [215] is example neighborhood for each unique ID

# Write Output File

In [15]:
merged.to_csv('cleaned_data/merged.csv',index=False)